<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>お誕生日おめでとう！</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<div>
    <audio controls loop autoplay id="clap" style="display:none;">
        <source src="audio/clap.mp3" type="audio/mpeg">
    </audio>

    <audio controls loop autoplay id="birthday" style="display:none;">
        <source src="audio/happybirthday.mp3" type="audio/mpeg">
    </audio>

    <div class="birthday-message">Happy<br>Birthday!</div>
    
    <!-- 真ん中の画像 -->
    <div class="img-cat" id="img-cat-center">
        <img id="img_cat" src="img/cat.jpg" alt="写真">
    </div>

    <div class="img-hand" id="img-container-center_right">
        <img id="img_center_right" src="img/right.jpg" alt="写真">
    </div>
    
    <div class="img-hand" id="img-container-center_left">
        <img id="img_center_left" src="img/left.jpg" alt="写真">
    </div>

    <!-- 右側の画像 -->
    <div class="img-cat" id="img-cat-right">
        <img id="img_cat" src="img/cat.jpg" alt="写真">
    </div>

    <div class="img-hand" id="img-container-right_right">
        <img class="img-hand" id="img_right_right" src="img/right.jpg" alt="写真">
    </div>
    
    <div class="img-hand" id="img-container-right_left">
        <img id="img_right_left" src="img/left.jpg" alt="写真">
    </div>

    <!-- 左側の画像 -->
    <div class="img-cat" id="img-cat-left">
        <img id="img_cat" src="img/cat.jpg" alt="写真">
    </div>
    <div class="img-hand" id="img-container-left_right">
        <img id="img_left_right" src="img/right.jpg" alt="写真">
    </div>
    
    <div class="img-hand" id="img-container-left_left">
        <img id="img_left_left" src="img/left.jpg" alt="写真">
    </div>

    <script src="js/script.js"></script>
</body>
</html>