<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>リンクページ</title>
    <link rel="stylesheet" href="./css/mainStyles.css">
</head>
<body>
    <div class="container">
        <div class="image-box" id="box1">
            <img src="img/closeTreasureBox.jpg" alt="closeBox">
        </div>
        <div class="image-box" id="box2">
            <img src="img/closeTreasureBox.jpg" alt="closeBox">
        </div>
        <div class="image-box" id="box3">
            <img src="img/closeTreasureBox.jpg" alt="closeBox">
        </div>
        <div class="image-box" id="box4">
            <img src="img/closeTreasureBox.jpg" alt="closeBox">
        </div>
        <div class="image-box" id="box5">
            <img src="img/closeTreasureBox.jpg" alt="closeBox">
        </div>
        <div class="image-box" id="box6">
            <img src="img/closeTreasureBox.jpg" alt="closeBox">
        </div>
    </div>
    
    <script src="js/indexScript.js"></script>
</body>
</html>