body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.birthday-message {
    font-size: 5vw;
    font-weight: bold;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flake {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: transparent;
    animation: fall linear infinite;
    transform-origin: center bottom;
    opacity: 1;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
        transform: translateY(calc(100vh - 100px)) rotate(360deg);
    }
}

/* 顔の画像 */
.img-cat img {
    position: absolute;
    width: 27%;
    bottom: -13vw;
}

/* 手の画像 */
.img-hand img {
    position: absolute;
    width: 15%;
}

/* 真ん中の画像 */
#img-cat-center img{
    left: 50%;
    bottom: -16vw;
    transform: translate(-50%, -50%);
}

#img-container-center_right img{
    left: 45%;
    bottom: -5vw;
}

#img-container-center_left img{
    left: 42%;
    bottom: -3vw;
}

/* 右の画像 */
#img-cat-right img{
    width: 32%;
    left: 83%;
    bottom: -13vw;
    transform: translate(-50%, -50%);
}

#img-container-right_right img{
    left: 80%;
    bottom: -5vw;
}

#img-container-right_left img{
    left: 77%;
    bottom: -3vw;
}

/* 左の画像 */
#img-cat-left img{
    left: 15%;
    transform: translate(-50%, -50%); 
}

#img-container-left_right img{
    left: 10%;
    bottom: -5vw;
}

#img-container-left_left img{
    left: 7%;
    bottom: -3vw;
}